<?xml version="1.0"?>
<robot name ="test">

 <material name="black">
  <color rgba = "0.0 0.0 0.0 1.0"/>
 </material>

 <material name="orange">
  <color rgba = "1.0 0.4 0.0 1.0"/>
 </material>

 <link name="base"/>
 <joint name="fixed" type="fixed">
   <parent link="base"/>
   <child link="link1"/>
 </joint>

 <link name="link1">
   <collision>
     <origin xyz="0 0 0.25" rpy="0 0 0" />
     <geometry>
       <box size="0.1 0.1 0.5"/>
     </geometry>
   <collision>
 </link>
 
